:root {
    --max-page-width: 1200px;
    --main-duration: .3s;
    --html: #F15C2A;
    --css: #1774BB;
    --js: #FCB041;
    --theme-active: #75C9C9;
    color-scheme: light dark;

    --main-color: #3c3c3c;
    --theme-dark: #EFF2F7;
    --theme-main: #ADADAD;
    --theme-light: #FFFFFF;
    --theme-dz: rgba(33, 33, 33, 0.1);
}

[data-theme="dark"] {
    --main-color: #fff;
    --theme-dark: #0D1A2D;
    --theme-main: #273B55;
    --theme-light: #15273F;
    --theme-dz: rgba(183, 183, 183, 0.1);
}

.scheme-switcher img:nth-child(2) {
    display: block;
}

[data-theme="dark"] .scheme-switcher img:nth-child(2) {
    display: none;
}

.scheme-switcher img:nth-child(1) {
    display: none;
}

[data-theme="dark"] .scheme-switcher img:nth-child(1) {
    display: block;
}