.pagination {
    position: absolute;
    bottom: 30px;
    display: none;
    justify-content: center;
    gap: 15px;
    width: calc(100% - 32px);

    @media screen and (max-width: 991px) {
        visibility: hidden;
    }

    .pagination__el {
        width: 10px;
        height: 10px;
        border-radius: 100%;
        border: 2px solid var(--main-color);
        transition: .3s;

        &.pagination--active {
            background-color: var(--main-color);
            pointer-events: none;
        }

        &:hover {
            background-color: var(--main-color);
            transform: scale(1.2);
        }
    }
}