.burger__menu-wrapper {
    position: relative;
    z-index: 1;

    input {
        width: 20px;
        height: 25px;
        position: absolute;
        cursor: pointer;
        opacity: 0;
        z-index: 2;

        @media screen and (min-width: 991px) {
            display: none;
        }
    }

    span {
        display: block;
        width: 25px;
        height: 3px;
        margin-bottom: 5px;
        position: relative;
        background: var(--main-color);
        border-radius: 3px;
        z-index: 1;
        transform-origin: 0px 0px;
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
            background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
            opacity 0.55s ease;

        @media screen and (min-width: 991px) {
            display: none;
        }
    }

    span:first-child {
        transform-origin: 0% 0%;
    }

    span:nth-last-child(2) {
        transform-origin: 0% 100%;
    }

    input:checked~span {
        opacity: 1;
        transform: rotate(45deg) translate(-2px, -.5px);
    }

    input:checked~span:nth-last-child(2) {
        transform: rotate(-45.5deg) translate(0, -1px);
    }

    input:checked~span:nth-last-child(3) {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
    }

    input:checked~.navbar-topics {
        transform: translate(-35px, 0);
        width: 150px;
    }

    input:not(:checked)~.navbar-topics {
        transform: translate(calc(-100% - 35px), 0);

        @media screen and (min-width: 991px) {
            position: relative;
            height: auto;
            padding: 0;
            transform: translate(0, 0);
            flex-direction: row;
        }
    }

    .navbar-topics ul {
        display: flex;
        flex-direction: column;
        gap: 15px;

        @media screen and (min-width: 991px) {
            gap: 30px;
            flex-direction: row;
        }
    }
}