@keyframes cards-show {
  from {
    transform: translateY(-100vh);
    visibility: hidden;
    opacity: 0;
  }

  to {
    transform: translateY(0);
    visibility: visible;
    opacity: 1;
  }
}

@keyframes cards-hide {
  from {
    transform: translateY(0);
    visibility: visible;
    opacity: 1;
  }

  to {
    transform: translateY(-100vh);
    visibility: hidden;
    opacity: 0;
  }
}

@keyframes cards-switch {
  0% {
    transform: translateY(0);
    visibility: visible;
    opacity: 1;
  }

  50% {
    transform: translateY(-100vh);
    visibility: hidden;
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    visibility: visible;
    opacity: 1;
  }
}

@keyframes dz-jiggling {
  0% {
    transform: translateX(10px);
  }

  25% {
    transform: translateX(-10px);
  }

  50% {
    transform: translateX(10px);
  }

  75% {
    transform: translateX(-10px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes resultHide {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-100vh);
  }
}

@keyframes resultShow {
  0% {
    transform: translateY(-100vh);
  }

  100% {
    transform: translateY(0);
  }
}