@font-face {
    font-family: 'Outfit';
    src: local("./fonts/Outfit-Bold.ttf");
    font-weight: 600;
}

@font-face {
    font-family: 'Outfit';
    src: local("./fonts/Outfit-Regular.ttf");
    font-weight: 300;
}