body {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100vh;
    font-family: 'Outfit', sans-serif;
    background-color: var(--theme-dark);
    color: var(--theme-main);
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
}

.container {
    max-width: $max-page-width;
    margin: 0 auto;
    padding: 0 16px;
    position: relative;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

main {
    overflow: auto;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    padding-top: 45px;

    @media screen and (min-width: 991px) {
        padding-top: 0;
    }
}

h4,
h5 {
    margin: 0;
}