%topic-icons {
    [data-topic="html"] {
        & path {
            fill: $html;
        }

        &:hover,
        :focus-within {
            outline: 0;
            opacity: 1;
            color: $html;
        }
    }

    [data-topic="css"] {
        & path {
            fill: $css;
        }

        &:hover,
        :focus-within {
            outline: 0;
            opacity: 1;
            color: $css;
        }
    }

    [data-topic="javascript"] {
        & path {
            fill: $js;
        }

        &:hover,
        :focus-within {
            outline: 0;
            opacity: 1;
            color: $js;
        }
    }

    [data-topic="git"] {
        & path {
            fill: $git;
        }

        &:hover,
        :focus-within {
            outline: 0;
            opacity: 1;
            color: $git;
        }
    }

    [data-topic="vue"] {
        & polygon:nth-child(1) {
            fill: $vue;
        }

        & polygon:nth-child(2) {
            fill: $vue--inner;
        }

        &:hover,
        :focus-within {
            outline: 0;
            opacity: 1;
            color: $vue;
        }
    }

    [data-topic="general"] {
        & path {
            fill: $general;
        }

        &:hover,
        :focus-within {
            outline: 0;
            opacity: 1;
            color: $general;
        }
    }
}

header {
    nav {
        @extend %topic-icons;
    }
}

.cards {
    @extend %topic-icons;
}

.summary {
    [data-topic="general"] {
        background-color: rgba($color: $general, $alpha: .2);
    }

    [data-topic="html"] {
        background-color: rgba($color: $html, $alpha: .2);
    }

    [data-topic="css"] {
        background-color: rgba($color: $css, $alpha: .2);
    }

    [data-topic="javascript"] {
        background-color: rgba($color: $js, $alpha: .2);
    }

    [data-topic="git"] {
        background-color: rgba($color: $git, $alpha: .2);
    }

    [data-topic="vue"] {
        background-color: rgba($color: $vue, $alpha: .2);
    }
}