:root {
    color-scheme: light dark;
    
    --main-color: #3c3c3c;
    --theme-dark: #EFF2F7;
    --theme-main: #ADADAD;
    --theme-light: #FFFFFF;
    
    --dz-bg: rgba(33, 33, 33, 0.1);
}

$max-page-width: 1200px;
$main-duration: .3s;
$general: #6e16cc;
$html: #f15f2a;
$css: #1774BB;
$js: #FCB041;
$git: #F1502F;
$vue: #42B883;
$theme-active: #75C9C9;

$dz-error: #ed4337;
$dz-allowed: #53a653;

[data-theme="dark"] {
    --main-color: #fff;
    --theme-dark: #0D1A2D;
    --theme-main: #273B55;
    --theme-light: #15273F;
    --dz-bg: rgba(183, 183, 183, 0.1);
}